@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.appcontainer{
    width: 90%;
    position: absolute;
    left: 0px;
}

.avatar{
    position: relative;
    width: 50px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img, 
.chat-avatar img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.alignicon{
    display: flex;
    justify-content: flex-end;
}
.chat-header-right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.chat-header-right img{
    width: 20px;
    height: 20px;
    margin: 5px 13px;
    opacity: 0.4;

}

body{
    display: flex;
    overflow: hidden;
}

.sidebar{
    flex-direction: 5.17;
    width: 28%;
}
.header{
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px 15px;
    border-right: 1px solid rgba(0,0,0,0.1);
}

/* message content */
.message-container{
    flex: 12;
    
}
.chat-title{
    width: 100%;
    display: flex;
    align-items: center;
}

.message-header-content{
    margin-left: 15px;

}

h4{
    font-weight: 400;
}

.message-header-content p{
    font-size: 13px;
    color: gray;
}


.sidebar-searchcontainer img{
    width: 15px;
    height: 15px;
    margin: 0 15px;
    opacity: 0.4;
}

.sidebar-search{
    display: flex;
    align-items: center;
    background-color: #ededed;
    padding: 8px 15px;

}

.sidebar-searchcontainer{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 10px;
}
.sidebar-searchcontainer input{
    background-color: white;
    border: none;
    outline: none;
    margin-left: 20px;
}

.chat-avatar {
    position: relative;
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    overflow: hidden;
    flex: 1;
}

.sidebar-chats{
    height: calc(100vh - 115px);
    overflow-y: scroll;
}

.sidebar-chat{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 12px;
    width: 100%;
    
}

.chat-info{
    margin-left: 15px;
    flex: 10;
    
}
.chat-info p{
    font-size: 14px;
    line-height: 20px;
    color: gray;
    background-color: transparent;
}

.time{
    flex: 1;
}

.time p{
    white-space: nowrap;
    font-size: 13px;
    margin-top: -16px;
    color: gray;
    background-color: transparent;
}

.sidebar-chat::before{
    content: '';
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 80px;
    border-bottom: 1px solid #999;
    opacity: 0.2;

}

.sidebar-chat:hover{
    background-color: #f5f5f5;
}

.sidebar-chat:nth-child(2){
    background-color: #f5f5f5;
}

::-webkit-scrollbar{
    width: 6px;

}

::-webkit-scrollbar-track{
    background: none;
}

::-webkit-scrollbar-thumb{
    background-color: #b9b3ae;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #888;
}

.message-content{
    background-image: url(/images/background.png);
    background-position: center;
    height: calc(99.5vh - 120px);
    padding: 20px 80px;
    overflow-y: scroll;
    
}

.chat-message{
    font-size: 14px;
    padding: 8px 10px;
    width: fit-content;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 8px;
}

.chat-timestamp{
    margin-left: 10px;
    font-size: 10px;
    color: gray;
}

.chat-sent{
    margin-left: auto;
    background-color: #dcf8dc;
}

.message-footer{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #ededed;
}

.message-footer img{
    width: 32px;
    height: 22px;
    opacity: 0.4;
}

.message-footer input{
    flex: 20;
    margin: 5px 10px;
    padding: 12px 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    background-color: white;
}
